<!DOCTYPE html>
<html>
<head xmlns="http://www.w3.org/1999/xhtml" xml:lang="he" dir="rtl">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/css/kube.min.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.customize.css" rel="stylesheet" />

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("[שם של חנות]", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("ראשי", "Index", "Home")</li>
                    <li>@Html.ActionLink("מי אנחנו", "About", "Home")</li>
                    <li>@Html.ActionLink("צרו קשר", "Contact", "Home")</li>
                </ul>
                <span class="header-icon-container">
                    <span class="icon glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    04-8888888
                </span>
            </div>

        </div>
    </div>
   
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        Programming by <a href="https://il.linkedin.com/in/myarichuk">Michael Yarichuk</a>, 2015 <br/>
        <p>Background photo credit: &copy; <a href="http://mike.openphoto.net/gallery/">Michael Jastremski</a> for <a href="http://openphoto.net/gallery/image/view/19780">openphoto.net</a>, distributed with license <a href="http://creativecommons.org/licenses/by-sa/3.0/">Attribution-ShareAlike 3.0 Unported</a></p>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
